*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
/IDE/wp-content/upgrade/
/IDE/wp-content/uploads/
/IDE/wp-config-sample.php
/IDE/wp-blog-header.php
/IDE/wp-activate.php
/IDE/wp-settings.php
/IDE/wp-load.php
/IDE/wp-links-opml.php
/IDE/wp-signup.php
/IDE/xmlrpc.php
/IDE/wp-login.php
/IDE/wp-config.php.ORG
/IDE/wp-includes/
/IDE/license.txt
/IDE/wp-trackback.php
/IDE/wp-mail.php
/IDE/wp-comments-post.php
/IDE/index.php
/IDE/wp-cron.php
/IDE/_wp-config.php
/IDE/readme.html
/IDE/wp-content/themes/index.php
/IDE/wp-content/themes/twentyfourteen/
/IDE/wp-content/themes/twentythirteen/
/IDE/wp-content/plugins/advanced-ajax-page-loader/
/IDE/wp-content/plugins/index.php
/IDE/wp-content/plugins/WP-FB-AutoConnect-Premium.php
/IDE/wp-admin/
/IDE/_assets/1.jpg
/IDE/_assets/php/
/IDE/_assets/xml/
/IDE/_assets/flash/
/IDE/_assets/swf/
/IDE/_assets/info/
/IDE/_assets/img/
/IDE/_assets/css/
/IDE/_assets/mp3/graadmeter/archief/*
/IDE/_assets/mp3/graadmeter/*.mp3
/IDE/_assets/js/